
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
div {
    width: 25%;
    margin: 2.5px;
    padding: 2.5px;
}
#one {
    position: fixed;
    right:0;
    bottom:0;
    border: 5px solid blue;
}

#two {
    position: fixed;
    right: 0;
    top:0;
    border: 5px solid green;
}

#three {
    position: fixed;
    top: 0;
    left: 0;
    border: 5px solid orange;
}

#four {
    position: fixed;
    left:0;
    bottom:0;
    border: 5px solid yellow;
}

#link a {
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #4663cd;
    text-decoration: none;
}